// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product{
	background-color: white;
	overflow: hidden;
	height: 330px;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
	border: 1px solid #aaa;
	p{
		text-align: center;
	}
	a{
		color: blue;
		text-decoration: none;
	}
	a:visited{
		color: blue;
	}
	
	img{
		width: 100%;
	}
}

