<h2>Uw bestelling</h2>
<div>
De datum van deze bestelling <%= @order.created_at %>
</div>
<% if @products != nil %>
	<% @products.each do |p| %>
	<div class="order-product">
		Product: <%= p.name %> <%= image_tag p.photo %>
	</div>
	<div>
		Kosten bestelling: <%= p.price %>
	</div>
	<% end %>
<% end %>

